<% content_for :head do %>
  <%= tag :meta, :name => "language", :content => params[:language] %>
<% end %>

<h1>Statistics for TED Language Coordinators</h1>
<h2>Language: <%= params[:language] %></h2>

<div id="badge-shelf">

  <div class="number-badge-new">
    <h3>New<br />Translators*</h3>
    <p><%= @newTranslators %></p>
  </div>

  <div class="number-badge-new">
    <h3>Active<br />Translators*</h3>
    <p><%= @activeTranslators %></p>
  </div>

  <div class="number-badge-new">
    <h3>New<br />Completed Tasks*</h3>
    <p><%= @newCompletedTasks %></p>
  </div>

  <div class="number-badge">
    <h3>Total<br />Translators</h3>
    <p><%= @totalTranslators.translators %></p>
  </div>

  <div class="number-badge">
    <h3>Total Tasks<br />Compelted</h3>
    <p><%= @totalTasksCompleted.tasks.to_i %></p>
  </div>

  <p class="badge-note">
    * Based on activities within the past 2 Sundays
  </p>
</div>

<div id="<%= params[:language] %>" class="graph-wrapper"></div>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#mostTasks">Most Completed Tasks</a></li>
  <li><a href="#lastActive">Last Active</a></li>
  <li><a href="#lastScraped">Last Scraped</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="mostTasks">
    <table class="table table-hover table-striped table-condensed">
      <thead>
        <tr class="tablerow-header">
          <td>#</td>
          <td>Name</td>
          <td>Tasks Completed<br />(Translations + Reviews)</td>
          <td>Location</td>
          <td>Last Active Date</td>
          <td>First Scrape Date<br />(New joiners?)</td>
        </tr>
      </thead>
      <tbody>
        <% @translators.each_with_index do |translator, i| %>
        <tr>
          <td style="text-align: center;"><%= i + 1 %></td>
          <td>
            <%= link_to(translator.name, view_translator_path(:language => params[:language], :ted_id => translator.ted_id)) %> 
            <sup><%= link_to("[TED]", "http://www.ted.com" + translator.profile_url + "/translations", { :class => "tedlink" }) %></sup></td>
          <td style="text-align: center;"><%= translator.translations %></td>
          <td><%= translator.location.presence || '(not available)' %></td>
          <td>
            <%= translator.lastActiveDate.strftime('%d/%m/%y') %>
            <% if((Date.today - translator.lastActiveDate).to_i < 14) then %>
              <span class="time-ago label label-important"><%= time_ago_in_words(translator.lastActiveDate) %> ago</span>
            <% else %> 
              <span style="color: #aaa; font-size: 8pt;">(<%= time_ago_in_words(translator.lastActiveDate) %> ago)</span>
            <% end %>
          </td>
          <td>
            <%= translator.firstScrapeDate.strftime('%d/%m/%y') %> 
            <% if((Date.today - translator.firstScrapeDate).to_i < 14) then %>
              <span class="time-ago label label-important"><%= time_ago_in_words(translator.firstScrapeDate) %> ago</span>
            <% else %> 
              <span style="color: #aaa; font-size: 8pt;">(<%= time_ago_in_words(translator.firstScrapeDate) %> ago)</span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="lastActive">
    <table class="table table-hover table-striped table-condensed">
      <thead>
        <tr class="tablerow-header">
          <td>#</td>
          <td>Name</td>
          <td>Tasks Completed<br />(Translations + Reviews)</td>
          <td>Location</td>
          <td>Last Active Date</td>
          <td>First Scrape Date<br />(New joiners?)</td>
        </tr>
      </thead>
      <tbody>
        <% @translators.sort_by(&:lastActiveDate).reverse.each_with_index do |translator, i| %>
        <tr>
          <td style="text-align: center;"><%= i + 1 %></td>
          <td>
            <%= link_to(translator.name, view_translator_path(:language => params[:language], :ted_id => translator.ted_id)) %> 
            <sup><%= link_to("[TED]", "http://www.ted.com" + translator.profile_url + "/translations", { :class => "tedlink" }) %></sup></td>
          <td style="text-align: center;"><%= translator.translations %></td>
          <td><%= translator.location.presence || '(not available)' %></td>
          <td>
            <%= translator.lastActiveDate.strftime('%d/%m/%y') %>
            <% if((Date.today - translator.lastActiveDate).to_i < 14) then %>
              <span class="time-ago label label-important"><%= time_ago_in_words(translator.lastActiveDate) %> ago</span>
            <% else %> 
              <span style="color: #aaa; font-size: 8pt;">(<%= time_ago_in_words(translator.lastActiveDate) %> ago)</span>
            <% end %>
          </td>
          <td>
            <%= translator.firstScrapeDate.strftime('%d/%m/%y') %> 
            <% if((Date.today - translator.firstScrapeDate).to_i < 14) then %>
              <span class="time-ago label label-important"><%= time_ago_in_words(translator.firstScrapeDate) %> ago</span>
            <% else %> 
              <span style="color: #aaa; font-size: 8pt;">(<%= time_ago_in_words(translator.firstScrapeDate) %> ago)</span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="lastScraped">
    <table class="table table-hover table-striped table-condensed">
      <thead>
        <tr class="tablerow-header">
          <td>#</td>
          <td>Name</td>
          <td>Tasks Completed<br />(Translations + Reviews)</td>
          <td>Location</td>
          <td>Last Active Date</td>
          <td>First Scrape Date<br />(New joiners?)</td>
        </tr>
      </thead>
      <tbody>
        <% @translators.sort_by(&:firstScrapeDate).reverse.each_with_index do |translator, i| %>
        <tr>
          <td style="text-align: center;"><%= i + 1 %></td>
          <td>
            <%= link_to(translator.name, view_translator_path(:language => params[:language], :ted_id => translator.ted_id)) %> 
            <sup><%= link_to("[TED]", "http://www.ted.com" + translator.profile_url + "/translations", { :class => "tedlink" }) %></sup></td>
          <td style="text-align: center;"><%= translator.translations %></td>
          <td><%= translator.location.presence || '(not available)' %></td>
          <td>
            <%= translator.lastActiveDate.strftime('%d/%m/%y') %>
            <% if((Date.today - translator.lastActiveDate).to_i < 14) then %>
              <span class="time-ago label label-important"><%= time_ago_in_words(translator.lastActiveDate) %> ago</span>
            <% else %> 
              <span style="color: #aaa; font-size: 8pt;">(<%= time_ago_in_words(translator.lastActiveDate) %> ago)</span>
            <% end %>
          </td>
          <td>
            <%= translator.firstScrapeDate.strftime('%d/%m/%y') %> 
            <% if((Date.today - translator.firstScrapeDate).to_i < 14) then %>
              <span class="time-ago label label-important"><%= time_ago_in_words(translator.firstScrapeDate) %> ago</span>
            <% else %> 
              <span style="color: #aaa; font-size: 8pt;">(<%= time_ago_in_words(translator.firstScrapeDate) %> ago)</span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
