<!DOCTYPE html>
<html>
<head>
  <title>OTP Statistics</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body id="<%= controller_name %>-<%= action_name %>">

<%= yield %>

<div id="warning-inaccuracy" class="alert alert-info">
  <h4>Please Note:</h4>
  Since this tool scraped data from TED.com not long ago. Some information might not be 100% accurate (i.e. joining date, last active date). This applies especially to translators who joined before ~20 March 2013, when the first piece of data was scraped. These information will become more accurate over time.
</div>

</body>
</html>
